body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  background: rgb(230, 230, 142);
}

.main {
  text-align: center;
  margin: 100px auto;
}

button {
  padding: 23px;
  color: blue;
  border: 1px solid black;
  border-radius: 6px;
  text-shadow: 1px 1px 1px #202020;
  font-family: "Lato", sans-serif;
  background: transparent;
  font-size: 17pt;
}